$base-font: 'Roboto', sans-serif;
$sans-pro: 'Source Sans Pro', sans-serif;
$base-dark: #100F17;
// $base-dark: #1a191f;
$base-light: #222028;
$base-gold: #c2f02e;
$base-green: #29b474;
$base-purple: #37009C;
$base-white_bg: rgba(255, 255, 255, 0.048);

$base-gradient: linear-gradient(120deg, rgba(0, 43, 68, 0.97) 30%, rgba(92, 150, 34, 0.97) 140%);
