@import './var';

header{
    background-color: $base-dark;
    border-bottom:3px solid $base-light;
    
    .logo{
        span{
            // font-size:3rem;
            font-weight: 80
            0 !important;
            color: $text-dark-primary;

      &:first-child{
            color: $base-gold;
            margin-right: 0px;
            font-weight: 600;
        }
    }

    }
    // .menu__toggles{
    //     display: none;
    //     @media screen and (max-width: 992px){
    //         display: block;
    //     }
    // }
    .search__icon{
        cursor: pointer;
color: $text-dark-primary;

        &:hover{
            color: $base-gold;
        }
    }
    
        .nav-link{
            font-size: .9rem;
            font-weight: 500 !important;
            color: $text-dark-primary;
            text-transform: uppercase;
            white-space: nowrap;
            transition: all .5s;
            display: inline;

            @media screen and (max-width: 992px){
                display: block;
                font-size: 1rem;
                margin: 10px;

            }

            &:hover{
                color: $base-gold;

                @media screen and (max-width: 992px){
                    padding-left: 20px;
                    background-color: $base-gold;
                    color: $base-dark;
                    border-radius: 10px;
                }
            }
            &:focus{
                color: $base-gold;
                @media screen and (max-width: 992px){
                    color: $base-dark;
                }
            }
        }
        .nav__links{
            @media screen and (max-width: 992px){
                min-height: 100vh;
            position: fixed;
            left: -270px;
            bottom: 0;
            top: 0!important;
            width: 270px;
            padding-top: 50px;
            background-color: $base-dark-7;
            backdrop-filter: blur(15px) brightness(75%) saturate(70%);
            transition: all .5s ease;
            }
        }
        .nav__toggle{
            color: $text-dark-primary;
        }
        .nav__close{
            color: $text-dark-primary;
        }
        .mobileNavActive{
            left: 0px;
        }
    

}
