@import './var';

.slider__item__container{
position: relative;
overflow: hidden;
    .slider__item{
    height: 80vh;
    width: 97%;
//    border-radius: 1rem;
    background-size: 100% 100%;
   background-repeat: no-repeat;
   background-position: center center ;

   @media screen and (max-width: 768px) {
       width: 100%;
       
   }
   &:hover {
    .slider__item__inner{
        left: 5px;
    }
   }

   .slider__item__inner{
        background-color: $base-dark-7;
            backdrop-filter: blur(15px) brightness(75%) saturate(70%);
    position:absolute;
    top: 10px;
    bottom: 0px;
    left: -100%;
    width: 100%;
    right: 20px;
    display: grid;
    place-items: center;
    place-content: center;
    padding: 10px 20px;
    transition:all .6s;

    h4{
        color: $base-gold;

        &:hover{
            color: #fff;
        }
        
&::before{
    content: " |";
    color: $base-gold;
    margin-right: 5px;
}
    }
}
}


}



// .slick-next {
//     left: auto !important;
//     right: 10px !important;
// }
// .slick-prev {
//     left: auto !important;
//     right: 50px !important;
// }

// .slick-track {
//     margin:auto;
// }