@import './var';


    .fullWidth{
        height: 100vh;
        position: fixed;
        background-color: #100F17;
        top: 0;
        width: 100vw;
        display: grid;
        place-content: center;
        place-items: center;

        .logo{
            span{
                font-size:1.8rem;
                font-weight: 80
                0 !important;
                color: #fff;
        //         display: flex;
        // justify-content: center;
        // align-items: center;
    
          &:first-child{
                color: $base-gold;
                margin-right: 0px;
                font-weight: 500;
            }
            
        }}
}
