@import "./var";
.tvDetails {
  iframe {
    @media (max-width: 600px) {
      height: 250px !important;
    }
  }
  .season_poster {
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.082);
    img {
      height: 15rem;
      max-width: 164px;
    }
    h5 {
      color: $base-gold;
      &:hover {
        color: whitesmoke;
      }
    }
    a {
      text-decoration: none;
    }
  }
}
